{% load static %} {% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WEBSITE</title>
    {% tailwind_css %}
  </head>
  <body>
    <div class=" bg-slate-400 w-full h-screen flex flex-col justify-center items-center">
      <h1 class="text-purple-500 text-4xl">This is Srinivas Mekala</h1>
      <img
        src="{% static 'website/img/flower.jpg' %}"
        alt="flower"
        class="w-1/4"
      />
    </div>
  </body>
</html>
