{% load static tailwind_tags %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{% static 'website/favicon.ico' %}"
      type="image/x-icon"
    />
    {% tailwind_css %}
    <title>KalaKumbh</title>
  </head>
  <body class="bg-black">
    <nav id="nav" class="w-full flex justify-between items-center px-1 py-4">
      <h1
        class="font-bold text-2xl sm:text-4xl md:text-6xl text-transparent bg-clip-text bg-gradient-to-br from-white via-yellow-500 to-zinc-200"
      >
        KalaKumbh
      </h1>
      <button
        id="teambtn"
        class="bg-[#313131] rounded-3xl sm:p-2 sm:text-lg mr-4 sm:mr-8 font-semibold text-white text-center px-2"
      >
        The team
      </button>
    </nav>
    <main
      id="hero"
      class="text-white p-2 flex flex-col w-full items-center justify-center align-middle"
    >
      <p
        class="text-lg text-white sm:text-2xl md:text-3xl w-full lg:text-4xl my-2 font-semibold text-center"
      >
        You're <span class="underline text-yellow-500">never</span> missing an
        event again!
      </p>
      <div
        class="text-lg sm:text-2xl md:text-3xl lg:text-4xl my-4 p-1 font-bold text-center text-transparent bg-clip-text bg-gradient-to-b from-yellow-500 via-yellow-300 to-yellow-500"
      >
        <p>We connect you with</p>
        <p>Event Managers, Singers, Mentors and more</p>
      </div>

      <div id="form" class="m-auto w-full">
        <form
          action="user"
          method="post"
          class="w-[90%] m-auto sm:w-1/2 md:w-1/2 lg:w-1/3"
        >
          {% csrf_token %}
          <div id="name" class="relative my-4 w-full">
            <div
              class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
            >
              <img
                src="{% static 'website/icons/user.png' %}"
                alt="icon"
                class="w-5 h-5"
              />
            </div>
            <input
              type="text"
              name="name"
              id="name"
              placeholder="Full Name..."
              class="bg-[#313131] border w-full text-[#e0dede] text-md rounded-3xl pl-10 p-2.5 placeholder-[#858585]"
              required
            />
          </div>

          <div id="phone" class="relative w-full my-4">
            <div
              class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
            >
              <img
                src="{% static 'website/icons/phone-call-dark.png' %}"
                alt="icon"
                class="w-5 h-5"
              />
            </div>
            <input
              type="tel"
              name="phone"
              id="phone"
              placeholder="Phone Number..."
              pattern="[0-9]{10}"
              title="Please enter a valid 10 digit phone number"
              class="bg-[#313131] border text-[#e0dede] w-full text-md rounded-3xl pl-10 p-2.5 placeholder-[#858585]"
              required
            />
          </div>
          <div id="phone" class="relative w-full my-4">
            <div
              class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
            >
              <img
                src="{% static 'website/icons/collaborate.png' %}"
                alt="icon"
                class="w-5 h-5"
              />
            </div>
            <input
              type="text"
              name="ref_by"
              id="ref_by"
              placeholder="Referral Code..."
              title="Please enter a valid 10 digit phone number"
              class="bg-[#313131] border text-[#e0dede] w-full text-md rounded-3xl pl-10 p-2.5 placeholder-[#858585]"
            />
          </div>
          <div class="w-full flex justify-center">
            <button
              class="text-[#e0dede] align-middle w-2/3 sm:w-full p-2 rounded-3xl bg-[#444444] cursor-pointer hover:bg-yellow-300 hover:text-black border border-yellow-400"
              type="submit"
            >
              <div
                class="flex items-center w-full md:mx-6 text-md sm:text-lg font-semibold justify-between"
              >
                <span>Join the Waitlist</span>
                <img
                  src="{% static 'website/icons/right-dark.png' %}"
                  alt="right"
                  class="w-10 ml-2 -mr-2 md:mr-6"
                />
              </div>
            </button>
          </div>
        </form>
      </div>
    </main>
    <footer class="w-full flex justify-center p-4">
      <div
        class="w-2/3 sm:w-1/3 lg:w-1/4 flex sm:justify-around justify-center gap-10 items-center"
      >
        <a href="https://www.instagram.com/_kalakumbh_/">
          <img
            src="{% static 'website/icons/instagram-dark.png' %}"
            alt="instagram"
            class="w-6 md:w-8 lg: sm:mx-2 h-6 md:h-8 lg:"
          />
        </a>
        <a href="https://twitter.com/kalakumbh_">
          <img
            src="{% static 'website/icons/twitter-dark.png' %}"
            alt="twitter"
            class="w-6 md:w-8 lg: sm:mx-2 h-6 md:h-8 lg:"
          />
        </a>
        <a href="https://www.linkedin.com/company/kalakumbh/">
          <img
            src="{% static 'website/icons/linkedin-logo-dark.png' %}"
            alt="Linkedin"
            class="w-6 md:w-8 lg: sm:mx-2 h-6 md:h-8 lg:"
          />
        </a>
      </div>
    </footer>

    {% if success %}
    <div
      id="success-modal"
      class="w-full bg-black bg-opacity-50 h-screen fixed top-0 left-0 justify-center items-center flex"
    >
      <div class="">
        <div class="m-auto bg-[#313131] rounded-3xl p-4 mx-4">
          <div class="flex justify-end">
            <a href="/">
              <img
                src="{% static 'website/icons/close.png' %}"
                alt="close"
                class="w-2 h-2 cursor-pointer"
              />
            </a>
          </div>
          <div class="text-center">
            <img
              src="{% static 'website/icons/check-mark.png' %}"
              alt="check"
              class="w-16 h-16 mx-auto"
            />
            <p class="text-white text-2xl font-semibold mt-4">
              You're added to the waitlist with Referral Code: {{ ref_code }}
            </p>
            <p class="text-white text-md mt-2">
              We'll notify you when we launch.
            </p>
          </div>
          <div id="share" class="">
            <div class="w-full flex justify-center mt-6">
              <div
                class="w-2/3 sm:w-1/3 lg:w-1/4 flex sm:justify-around justify-center gap-10 items-center"
              >
                <a
                  href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//kalakumbh.com&title=Kalakumbh&summary=&source="
                  target="_blank"
                >
                  <img
                    src="{% static 'website/icons/linkedin-logo.png' %}"
                    alt="Linkedin"
                    class="w-6 md:w-8 lg: sm:mx-2 h-6 md:h-8 lg:"
                  />
                </a>
                <a
                  href="https://twitter.com/intent/tweet?text=Kalakumbh&url=https%3A//kalakumbh.com"
                  target="_blank"
                >
                  <img
                    src="{% static 'website/icons/twitter.png' %}"
                    alt="twitter"
                    class="w-6 md:w-8 lg: sm:mx-2 h-6 md:h-8 lg:"
                  />
                </a>
                <a
                  href="https://www.instagram.com/_kalakumbh_/"
                  target="_blank"
                >
                  <img
                    src="{% static 'website/icons/instagram.png' %}"
                    alt="instagram"
                    class="w-6 md:w-8 lg: sm:mx-2 h-6 md:h-8 lg:"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% comment %} {% elif warning == True %}
    <div
      id="warning"
      class="w-full bg-black bg-opacity-50 h-screen fixed top-0 left-0 justify-center items-center flex"
    >
      <div class="">
        <div class="m-auto bg-[#313131] rounded-3xl p-4 mx-4">
          <div class="flex justify-end">
            <a href="/">
              <img
                src="{% static 'website/icons/close.png' %}"
                alt="close"
                class="w-2 h-2 cursor-pointer"
              />
            </a>
          </div>
          <div class="text-center">
            <img
              src="{% static 'website/icons/check-mark.png' %}"
              alt="check"
              class="w-16 h-16 mx-auto"
            />
            <p class="text-white text-2xl font-semibold mt-4">
              You're added to the usermodal!
            </p>
            <p class="text-white text-md mt-2">
              We'll notify you when we launch.
            </p>
          </div>
          <div id="share" class="">
            
            <div class="w-full flex justify-center mt-6">
              <div
                class="w-2/3 sm:w-1/3 lg:w-1/4 flex sm:justify-around justify-center gap-10 items-center"
              >
                <a
                  href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//kalakumbh.com&title=Kalakumbh&summary=&source="
                  target="_blank"
                >
                  <img
                    src="{% static 'website/icons/linkedin-logo.png' %}"
                    alt="Linkedin"
                    class="w-6 md:w-8 lg: sm:mx-2 h-6 md:h-8 lg:"
                  />
                </a>
                <a
                  href="https://twitter.com/intent/tweet?text=Kalakumbh&url=https%3A//kalakumbh.com"
                  target="_blank"
                >
                  <img
                    src="{% static 'website/icons/twitter.png' %}"
                    alt="twitter"
                    class="w-6 md:w-8 lg: sm:mx-2 h-6 md:h-8 lg:"
                  />
                </a>
                <a
                  href="https://www.instagram.com/_kalakumbh_/"
                  target="_blank"
                >
                  <img
                    src="{% static 'website/icons/instagram.png' %}"
                    alt="instagram"
                    class="w-6 md:w-8 lg: sm:mx-2 h-6 md:h-8 lg:"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> {% endcomment %}
    {% elif danger == True %}
    <div
      id="danger"
      class="w-full bg-black bg-opacity-50 h-screen fixed top-0 left-0 justify-center items-center flex"
    >
      <div class="">
        <div class="m-auto bg-[#313131] rounded-3xl p-4 mx-4">
          <div class="flex justify-end">
            <a href="javascript:history.back()">
              <img
                src="{% static 'website/icons/close.png' %}"
                alt="close"
                class="w-2 h-2 cursor-pointer"
              />
            </a>
          </div>
          <div class="text-center">
            <img
              src="{% static 'website/icons/check-mark.png' %}"
              alt="check"
              class="w-16 h-16 mx-auto"
            />
            <p class="text-white text-2xl font-semibold mt-4">
              You're added to the wrongref!
            </p>
            <p class="text-white text-md mt-2">
              We'll notify you when we launch.
            </p>
          </div>
          <div id="share" class="">
            {% comment %} social icons {% endcomment %}
            <div class="w-full flex justify-center mt-6">
              <div
                class="w-2/3 sm:w-1/3 lg:w-1/4 flex sm:justify-around justify-center gap-10 items-center"
              >
                <a
                  href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//kalakumbh.com&title=Kalakumbh&summary=&source="
                  target="_blank"
                >
                  <img
                    src="{% static 'website/icons/linkedin-logo.png' %}"
                    alt="Linkedin"
                    class="w-6 md:w-8 lg: sm:mx-2 h-6 md:h-8 lg:"
                  />
                </a>
                <a
                  href="https://twitter.com/intent/tweet?text=Kalakumbh&url=https%3A//kalakumbh.com"
                  target="_blank"
                >
                  <img
                    src="{% static 'website/icons/twitter.png' %}"
                    alt="twitter"
                    class="w-6 md:w-8 lg: sm:mx-2 h-6 md:h-8 lg:"
                  />
                </a>
                <a
                  href="https://www.instagram.com/_kalakumbh_/"
                  target="_blank"
                >
                  <img
                    src="{% static 'website/icons/instagram.png' %}"
                    alt="instagram"
                    class="w-6 md:w-8 lg: sm:mx-2 h-6 md:h-8 lg:"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </body>
</html>
